 <%include src="_partials/header.html"%>   

 		<div class="container">
       		<div class="content">
        		<p></p>
				<div class="jumbotron">
					<h1>You're awesome!</h1>
					<p><%include src="_partials/example.html"%></p>
				</div>
        	</div>
        </div>
        

<%include src="_partials/footer.html"%>        
